.box{
    font-display: flex;
    text-align: center;
}

.row{
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.card{
    text-align: center;
    margin-bottom: 20px;
    width: 90%;

}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logito {
    width: 80%;
    max-width: 100%; 
    height: auto; 
    margin: 0 10px; 
}

.aaaaa{
    list-style: none;
}

.btn btn-primary{
    align-self: baseline;
}
.class2 {
    display: flex;
    justify-content: flex-end;
}

.help{
    height: 35px;
}
.card-li{
    padding-right: 10%;
}