.box{
    font-display: flex;
    text-align: center;
}

.row{
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.card{
    text-align: center;
    margin-bottom: 20px;
    width: 90%;

}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logito {
    width: 80%;
    max-width: 100%; 
    height: auto; 
    margin: 0 10px; 
}

.aaaaa{
    list-style: none;
}

.btn btn-primary{
    align-self: baseline;
}
.class2 {
    display: flex;
    justify-content: flex-end;
}

.help{
    height: 35px;
}
.card-li{
    padding-right: 10%;
}



/* BOTON SUBIR */
.to-top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    background: none; /* Elimina el fondo */
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.to-top-img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
}


