
.container{
    display: flex;
    height: 60%;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

.titulo {
    background-color: rgb(255, 171, 69); 
    padding: 20px;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    justify-self:center;
}

.titulo h1 {
    margin: 0;
    color: black;
    font-size: x-large;
}

form {
    max-width: 600px;
    width: 80%;
    padding: 20px;
    background-color: rgb(255, 171, 69);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 20px;
    width: 30%;
    margin: 3%;
    border-radius: 5px;
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

form button[type="submit"], form a {
    margin: 10px;
    padding: 10px 20px;
    background-color:rgb(255, 109, 31);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Para quitar el subrayado del enlace */
}

form button[type="submit"]:hover, form a:hover {
    background-color: rgb(252, 88, 48);
}
.producto{
    padding-top:5%;
    padding-bottom:2%;
    background-color: rgb(255, 109, 31); 
   
    border-radius: 5px;
}