.box{
    font-display: flex;
    text-align: center;
}

.row{
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.card{
    text-align: center;
    margin-bottom: 20px;
    width: 90%;

}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logito {
    max-width: 100%; /* Asegura que las imágenes no se salgan de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 10px; /* Espacio entre las imágenes (ajustable según tus necesidades) */
}
.class2 {
    display: flex;
    justify-content: flex-end;
}

.help{
    height: 35px;
}
