.box{
    font-display: flex;
    text-align: center;
}

.row{
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.card{
    text-align: center;
    margin-top: 50px;

}

.class2 {
    display: flex;
    justify-content: flex-end;
}
.btn btn-primary{
    align-self: baseline;
}