{% extends "app/index.html" %}
{% load static %}

{% block title %} Accesorios {% endblock %}
{% block css %}
<link type='text/css' rel='stylesheet' href='{% static 'accesorios/css/style.css' %}'>
{% endblock %}

{% block content %}
<section>
    <br>
    <div class="banner">
        <img class="logito" src="{% static 'accesorios/img/banner-perro.png' %}" alt="Banner perro">
        <img class="logito" src="{% static 'accesorios/img/banner-gatos.png' %}" alt="Banner gatos">
    </div>
    <br><br><br>

    <div class="card-deck">
        <!-- PRIMERA FILA DE PRODUCTOS -->
        {% for product in products|slice:":4" %}
        <div class="card">
            <img src="{{ product.foto.url }}" class="card-img-top img-fluid" alt="{{ product.nom_producto }}">
            <div class="card-body d-flex flex-column text-center">
                <h5 class="card-title">{{ product.nom_producto }}</h5>
                <p class="card-text" style="padding-top: 15%;">{{ product.descripcion }}</p>
                <p>${{ product.precio }}</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="card-deck mt-4">
        <!-- SEGUNDA FILA DE PRODUCTOS -->
        {% for product in products|slice:"4:8" %}
        <div class="card">
            <img src="{{ product.foto.url }}" class="card-img-top img-fluid" alt="{{ product.nom_producto }}">
            <div class="card-body d-flex flex-column text-center">
                <h5 class="card-title">{{ product.nom_producto }}</h5>
                <p class="card-text" style="padding-top: 15%;">{{ product.descripcion }}</p>
                <p>${{ product.precio }}</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="#" class="to-top">
        <i class="fas fa-chevron-up"></i>
    </a>
</section>
<br><br>

<script src="{% static 'accesorios/js/botonsubir.js' %}"></script>

{% endblock %}
