{% extends "app/index.html" %}
{% load static %}

{% block title %} Alimentos {% endblock %}
{% block css %}
<link type='text/css' rel='stylesheet' href='static/comida/css/style.css'>

{% endblock %}
{% block content %}
<section>
    <div class="box">
        <img style="width: 50%;" class="logito img-fluid" src="{% static 'comida/img/comida-banner.png' %}"
            alt="Banner comida">
    </div>
    <div class="card-deck">
        <div class="card">
            <img src="{% static 'comida/img/proplan-perro.jpg' %}" class="card-img-top img-fluid" alt="Proplan Perro">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Proplan Adulto Razas Medianas - Alimento para perros</h5>
                <p class="card-text">15 KG</p>
                <p>$32.990</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'comida/img/proplan-gato.jpg' %}" class="card-img-top img-fluid" alt="Proplan gatos">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Proplan Adulto Cat - Alimento para gatos</h5>
                <p class="card-text">7,5 KG</p>
                <p>$60.990</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>

        <div class="card">
            <img src="static/comida/img/royal-cachorro.jpg" class="card-img-top" alt="Royal canin perritos">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Royal Canin adulto Mini Adult - Alimento para perros</h5>
                <p class="card-text">7,5 KG</p>
                <p>$45.990</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
        <div class="card">
            <img src="static/comida/img/royal-gatito.jpg" class="card-img-top" alt="Royal canin gatitos">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Royal Canin Gatito Felino Kitten - Alimento para gatos</h5>
                <p class="card-text">4KG</p>
                <p class="card-text">
                    $31.000</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img src="static/comida/img/snack-biljac.jpeg" class="card-img-top" alt="Snacks BilJac">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Snacks Bil Jac - Little Jacs</h5>
                <p class="card-text">$4.690</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
        <div class="card">
            <img src="static/comida/img/snack-dingo.webp" class="card-img-top" alt="Snack Dingo">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Dingo Snack para perro</h5>
                <p class="card-text">2 unidades sabor Kabob</p>
                <p>$2.690</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
        <div class="card">
            <img src="static/comida/img/lata-gato.png" class="card-img-top" alt="Royal canin lata">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"> Royal Canin Alimento Húmedo Gatitos en lata</h5>
                <p class="card-text">145 GR</p>
                <p>$2.990</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
        <div class="card">
            <img src="static/comida/img/nutrience-original.jpg" class="card-img-top" alt="Nutrience healthy kitten">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Nutrience original Healthy Kitten - Alimento para gatos</h5>
                <p class="card-text">2.5 KG</p>
                <p>$22.990</p>
                <a class="btn btn-primary mt-auto" href="#" role="button">Añadir al carro</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}