{% extends "app/index.html" %}
{% load static %}

{% block title %} Home {% endblock %}


{% block content %}
<section>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="static/inicio/img/alimentos-inicio.jpg" alt="Alimentos">
            <div class="card-body">
                <h5 class="card-title">Alimentos</h5>
                <p class="card-text">Variedad de productos de alimento para perros y
                    gatos, incluyendo snaks.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="alimentos.html" role="button">Ir</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/inicio/img/accesorios-inicio.jpg" alt="Accesorios">
            <div class="card-body">
                <h5 class="card-title">Accesorios</h5>
                <p class="card-text">Correas de tela y retráctil, arnés y bolsos. </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="accesorios.html" role="button">Ir</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/inicio/img/farmacia-inicio.jpg" alt="Farmacia">
            <div class="card-body">
                <h5 class="card-title">Farmacia</h5>
                <p class="card-text">Remedios para el cuidado de tu mascota y distintos articulos de higiene.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="farmacia.html" role="button">Ir</a>
            </div>
        </div>
    </div>
</section>

<a href="#" class="to-top">
    <img style="width: 70%;" src="{% static 'inicio/img-carro/patitaboton.png' %}" alt="Back to top" class="to-top-img">
</a>


{% endblock %}

{% block scripts %}

<script src="{% static 'inicio/js/botonsubir.js' %}"></script>
{% endblock %}