{% load static %}
<!--- hice un inicio y un boton porque no me calzan los url si dejo la home en el 127.0.0.1:8000/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type='text/css' rel='stylesheet' href='static/inicio/css/inicio.css'>

</head>
<body>
    <div class="boton">
        <h1><a style="text-decoration: none;" class="btn" href="home.html">Home</a></h1>
    </div>
</body>
</html>