{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Registrarse</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link type="text/css" rel="stylesheet" href="{% static 'logreg/css/reg.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>.input-contenedor label {
    position: absolute;
    top: 0%;    
    left: 5px;
    transform: translateY(-70%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    font-weight: bold;
}
</style>

<body>
    <section style="background: url('{% static 'logreg/img/fondo.jpg' %}') no-repeat; background-size: cover">
        <a href="home.html">
            <img src="{% static 'inicio/img-carro/logo-empresa.png' %}" alt="logo principal" class="volver">
        </a>
        <div class="contenedor">
            {% if mensaje_error %}
                <p class="alert alert-danger">{{ mensaje_error }}</p>
            {% endif %}
            <form id="formulario2" method="POST" enctype="multipart/form-data" action="registro.html">
                {% csrf_token %}

                <h2>Registrarse</h2>

                <div class="input-contenedor">
                    <label for="{{ registrarForm.rut.id_for_label }}">{{ registrarForm.rut.label }}</label>
                    
                    {{ registrarForm.rut }}
                </div>

                <div class="input-contenedor">
                    <label for="{{ registrarForm.nombres.id_for_label }}">{{ registrarForm.nombres.label }}</label>
                    {{ registrarForm.nombres }}
                </div>

                <div class="input-contenedor">
                    <label for="{{ registrarForm.apellidos.id_for_label }}">{{ registrarForm.apellidos.label }}</label>
                    {{ registrarForm.apellidos }}
                </div>

                <div class="input-contenedor">
                    <label for="{{ registrarForm.celular.id_for_label }}">{{ registrarForm.celular.label }}</label>
                    {{ registrarForm.celular }}
                </div>

                <div class="input-contenedor">
                    <label for="{{ registrarForm.email.id_for_label }}">{{ registrarForm.email.label }}</label>
                    {{ registrarForm.email }}
                </div>

                <div class="input-contenedor">
                    <label for="{{ registrarForm.pass1.id_for_label }}">{{ registrarForm.pass1.label }}</label>
                    {{ registrarForm.pass1 }}
                </div>

                <div class="input-contenedor">
                    <label for="{{ registrarForm.pass2.id_for_label }}">{{ registrarForm.pass2.label }}</label>
                    {{ registrarForm.pass2 }}
                </div>

                <div class="terminos">
                    <label for="terminos">
                        <input type="checkbox" id="terminos">He leído los términos
                    </label>
                </div>
                
                <button type="submit" class="btn btn-primary" value="">Registrar</button>

                <div class="registrar">
                    <p>¿Ya tienes una cuenta? <a href="login.html">Iniciar Sesión</a></p>
                </div>
                              


            </form>
        </div>
    </section>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
